.check_box {
    width: 20px;
    height: 20px;
    border-color: #fd7e14;
    border-style: solid}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.wappler-temp {}
.borda {
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px}
.style1 {
    margin-bottom: 0px}